USE [master]
GO
/****** Object:  Database [TMDT05]    Script Date: 11/7/2020 4:23:50 PM ******/
CREATE DATABASE [TMDT05]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMDT05', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMDT05.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMDT05_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TMDT05_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMDT05].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMDT05]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/7/2020 4:23:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Alias] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 11/7/2020 4:23:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Header] [nvarchar](max) NULL,
	[Alias] [varchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CateID] [int] NULL,
	[changefreq] [nvarchar](max) NULL,
	[priority] [float] NULL,
	[datemodified] [datetime] NULL,
	[image] [varchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Description], [Alias]) VALUES (1, N'Điện thoại', NULL, N'Dien-Thoai')
INSERT [dbo].[Category] ([ID], [Name], [Description], [Alias]) VALUES (2, N'Máy tính', NULL, N'May-Tinh')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([ID], [Header], [Alias], [Description], [CateID], [changefreq], [priority], [datemodified], [image]) VALUES (1, N'Điện thoại Iphone 12 đẹp', N'Dien-thoai-iphone-12', NULL, 1, N'hourly', 0.9, CAST(N'2020-11-06 12:11:11.000' AS DateTime), N'https://cdn.cellphones.com.vn/media/catalog/product/cache/7/thumbnail/220x175/9df78eab33525d08d6e5fb8d27136e95/_/0/_0004_layer_5.jpg')
INSERT [dbo].[News] ([ID], [Header], [Alias], [Description], [CateID], [changefreq], [priority], [datemodified], [image]) VALUES (2, N'Máy tính bảng', N'May-tinh-bang', NULL, 2, N'daily', 0.8, CAST(N'2020-11-06 12:11:11.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Category] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Category]
GO
USE [master]
GO
